body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
    font-family: 'Arial',sans-serif;
}

a {
    text-decoration: none;
    color: #004aad;
    font-weight: bold;
    border-bottom: 1px solid;
}

.content { margin-top: 15px; }

.table {
    width: 800px;
    height: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #c7c7c7;
    border-spacing: 0;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 15%);
}

.column td { border: none; }

.column {
    padding: 10px;
    border: none;
}

.colmn1 { width: 30%; }

img.logo {
    width: 100px;
    height: 100px;
}

img.banner { 
    width: 90%; 
    border-radius: 4px;
}

img.imgtotal { width: 70%; }

.imggaleria {
    width: 250px;
    height: 200px;
    border-radius: 4px;
}

.column.footer { 
    background: #c3c3c3; 
    text-align: center;
}

.column.footer ul {
    text-align: left;
}

.tablesecundaria { width: 100%; }